import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
  font-family: 'Lato', sans-serif;
  padding: 0px 20px@;
  background-color: #333;
}
h2 {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
h1 {
  color: #8a3ab9;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  
  span:nth-child(2) {
    color: #4c68d7;
  }
  
  span:nth-child(3) {
    color: #cd486b;
  }
  
  span:nth-child(4) {
    color: #fbad50;
  }
  
  span:nth-child(5) {
    color: #fccc63;
  }
  
  span:nth-child(6) {
    color: #bc2a8d;
  }
  
  span:nth-child(7) {
    color: #e95950;
  }
}

.item {
  float: left;
  width: 20%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

#footer {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 20px;
  right: 20px;
	font-size: 12px;
  a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
}