@import url('https://fonts.googleapis.com/css?family=Oswald:300,500');

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.card {
  position: relative;
  width: 40%;
  box-shadow: 0 0 25px 0 rgba(0,0,0, .35);
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  border: 1px solid white;
}

.card::before {
  top: 1.5rem;
  bottom: 1.5rem;
  right: 1.5rem;
}

.card::after {
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
}

.card__img {
  position: unset;
  width: 50%;
  height: 50%;
  object-fit: cover;
  z-index: -1;
}

.card__body {
  background: rgba(0,0,0, .5);
  color: white;
  padding: 3rem;
}

.card__title,
.card__text {
  margin: 0;
}

.card__title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: .5em;
  --tw-bg-opacity: 0;
  background-color: rgba(129, 140, 248, var(--tw-bg-opacity));
  position: relative;
  z-index: 1;
  color: black;
}

.card__title::before {
  content: '';
  position: absolute;
  --tw-bg-opacity: 0.2;
  background-color: rgba(129, 140, 248, var(--tw-bg-opacity));
  width: calc(100% + 5rem);
  top: -.1em;
  bottom: -.15em;
  left: -5rem;
  z-index: -1;
  box-shadow: inset -15px 0 10px -10px rgba(0,0,0,.5);
}

.card__title::after {
  content: '';
  position: absolute;
  top: -.1em;
  bottom: -.15em;
  left: calc(100% + 3rem);
  width: 3rem;
  --tw-bg-opacity: 0.2;
  background-color: rgba(129, 140, 248, var(--tw-bg-opacity));
  box-shadow: inset 12px 0 10px -10px rgba(0,0,0,.5);
}

.card__text {
  text-align: right;
}
