.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Loading {
  animation: spin 2s linear infinite;
  position: block;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #444; /* Blue */
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
}

.Feed {

  margin: auto;
  padding: 1% 1%;
}

.Feed a {
  display: inline-block;
  margin: 1% 1%;
  width: 23%;
  line-height: 0;
}

.Feed a img {
  border-color: black;
  border-width: 2px;
  animation: fadein 3s;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 640px) {

  .Feed {
    border: none;
    box-shadow: none;
    --tw-bg-opacity: 1;
    background-color: white;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 1% 1%;
    width: fit-content;
  }


  .Feed a {
    background-color: white;
    display: inline-block;
    margin: 1% 1%;
    width: 23%;
    line-height: 0;
  }

  .Feed a img {
    background-color: white;
    width: min-content;
    border-color: black;
    border-width: 2px;
    animation: fadein 3s;
    width: 100%;
  }

  .backdrop {
    backdrop-filter: blur(5px);
  }

}

body {
  font-family: system-ui;
  background: #C0CBC0;
  text-align: center;
}


.site-footer {
  margin-top: 100px; /* Remove */
  position: relative;
  background-color:black;
  width: 100%;  
  bottom: 0; 
}

.site-footer .container {
  max-width: 85%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.site-footer .container h1 {
  font-size: 40px;
}

.site-footer .container h2 {
  font-size: 40px;
  float: right;
}

.site-footer .grid-container a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  line-height: 16.25px;
}

.site-footer .grid-item {
  padding: 10px;
  color: white;
}


.site-footer .grid-container .inner-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: left;
}

.site-footer .container hr { 
  display: block; 
  height: 1px;
  border: 0; border-top: 1px solid white;
  margin: 1px; 
  padding: 0; 
}

.site-footer .container p {
  font-size: 14px;
  text-align: right;
  color: white;
  font-weight: 500;
}

.site-footer .container .logo-img {
  /* width: 180px;
  height: 140px; */
  cursor: pointer;
}

.site-footer .grid-container .grid-item .social-buttons {
  padding-top: 20px;
}

.site-footer .grid-container .grid-item .social-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  color: #1A1F24;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}


.site-footer .grid-container .grid-item .social-buttons a i{
  transition: 0.3s ease-in;
}

.site-footer .grid-container .grid-item .social-buttons a:hover i {
  background: linear-gradient(45deg,white,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
}

.circle-icon {
    background: white;
    padding:12px;
    border-radius: 50%;
}



/*------------------------------------------------------------------
[ Screen Sizes] */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .site-footer {
    height: 620px;
    bottom: 0; 
  }

  .site-footer .grid-container {
    display: grid;
    grid-template-columns: 400px;
  }

  .site-footer .grid-container .inner-grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    text-align: left;
  }


}

/*========================================================*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .site-footer {
    height: 260px;
    bottom: 0;
  }

  .site-footer .grid-container {
    display: grid;
    grid-template-columns: 350px auto 350px;
  }

  .site-footer .grid-container .inner-grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
  }

}
